<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cakes</title>

        <%- include('partials/declaration') %>
        <link rel="stylesheet" href="/public/assets/styleEga.css" />
    </head>
    <body>
        <%- include('partials/header', {isLoggedIn, session}) %>
        <div class="centerSearch">
            <div>
                <form action="/cakes" method="get">
                    <input type="text" name="search" />
                    <button type="submit">Search</button>
                </form>
            </div>
            <div>
                <label>Filter by: </label
                ><button><a href="/cakes?filter=true">Available</a></button
                ><button>
                    <a href="/cakes?filter=false">Not Available</a>
                </button>
            </div>
        </div>
        <div class="flexDiv">
            <% cakes.forEach((el)=>{ %>
            <div class="card">
                <img
                    src="<%= el.imageUrl %>"
                    alt="<%= el.title %>"
                    height="150px"
                    style="margin: auto; width: 240px"
                />
                <div
                    style="text-align: center; padding: 0px"
                    class="resetMargin"
                >
                    <h4><%= el.formatCake%></h4>
                    <p>Price : <%= formatThousand(el.offeredPrice) %></p>

                    <% if (el.isActive) { %>
                    <p>Item Available : <span>&#9989;</span></p>
                    <%}%> <% if (el.isActive === false) { %>
                    <p>Item Available : <span>&#10060;</span></p>
                    <%}%>
                </div>
                <div style="margin-top: 20px">
                    <p>Vendor: <%= el.User.name%></p>
                </div>
                <% if(isLoggedIn && session.user.roles === "Customer"){ %>

                <button style="width: 100%; padding: 12px; margin-top: 8px">
                    <a href="/cakes/<%=el.id%>"> Add to Cart </a>
                </button>
                <%} %>
            </div>
            <% }) %>
        </div>
    </body>
</html>
