<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Caketopia - Edit</title>
  <%- include('partials/declaration') %>
</head>
<body>
  <%- include('partials/header', {isLoggedIn, session}) %>
  <div class="main">
    <form action="/editUserDetails" method="post" class="ui form">

      <div class="field">
        <label for="name">Username</label>
        <input name="name" type="text" placeholder="john1234" value="<%= name %>" disabled>
      </div>

      <div class="field">
        <label for="email">E-mail</label>
        <input name="email" type="email" placeholder="john.doe@mail.com" value="<%= email %>">
      </div>

      <div class="field">
        <label for="phoneNumber">Phone Number</label>
        <input name="phoneNumber" type="tel" placeholder="08112345678" value="<%= phoneNumber %>">
      </div>

      <div class="field">
        <label for="address">Address</label>
        <input name="address" type="text" placeholder="Perumahan 123 di Jalan Anggrek, Surabaya" value="<%= address %>">
      </div>
      
      <div class="field">
        <label for="password">Password</label>
        <input name="password" type="password" placeholder="swordfish">
      </div>

      <input type="submit" class="ui button">

    </form>
  </div>
</body>
</html>